//colors
$petrol: #07262d  // petrol
$white: #fff
$lightgray: #f8f8f8
$docegrey: #666
$green: #7ab51d // green
$blue: #009fe3 //blue
$red: #e8412e // red
$gray: #898989
$black: #000
$nebelgray: #b2b2b2
$altogray: #ddd
